h2{
  color: black;
  text-align:  center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-style: normal; font-variant: normal; 
}

p {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-style: normal; font-variant: normal; 
}